* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-color: #f0f0f0;
  --secondary-color: #edad31;
  --third-color: #de4e1a;
  --primary-font: "Atkinson Hyperlegible", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #f0f0f0;
}
.dark-mode {
  --navbar-color: #fff;
  --navbar-bg-color: #000;
}
